body {
	background-color: rgb(193, 190, 205);
	color: rgb(20, 20, 20);
	font-family: 'PT Serif', serif;
	font-size: 17px;
	line-height: 1.6; 
	text-align: center;
}

h1 {
	color: rgb(170, 70, 65);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 550; 
	letter-spacing: 2px;
	font-size: 37px;
	text-align: center;
	margin-bottom: 35px;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 800; 
	letter-spacing: 2px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: rgb(190, 70, 65);
}

a:hover {
	color: rgb(100, 100, 185);
}



.container {
	width: 720px;
    margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 580px;
	}
}

@media (max-width: 590px) {
	.container {
		width: 490px;
	}
}

@media (max-width: 450px) {
	.container {
		width: 400px;
	}
}

@media (max-width: 390px) {
	.container {
		width: 370px;
	}
}

.card-grey {
	background: rgb(225, 225, 235);
    padding: 30px;
    margin: 30px 0px;
    box-shadow: 0px 7px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.img-rounded {
    width: 32%;
    height: auto;
    border-radius: 2%;
}

.list-inline {
	list-style: none;
	padding-left: 0px;	
}

.list-inline li {
	display: inline;
	padding: 60px;
}

.list-inline i{
	font-size: 40px;
	margin-top: 15px;
}

.list-inline i:hover {
	color: black;
}

.img-key {
	width: 90%;
    height: auto;
    border-radius: 1%;
    margin-top: 25px;
}

.img-akg {
	width: 30%;
    height: auto;
    margin-top: 5px;
}

#vid {
	margin-top: 25px;
}

@media (max-width: 760px) {
	#vid {
		width: 510px;
	}
}

@media (max-width: 590px) {
	#vid {
		width: 360px;
	}
}